
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.ContentManagement.Option.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SeeSharper.ContentManagement.OptionGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>