
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.ContentManagement.Category.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SeeSharper.ContentManagement.CategoryGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>